.git
.github
.dart_tool
.flutter-plugins-dependencies
.packages
build
**/build
*.iml
.idea
.vscode
*.log
.firebase

android/.gradle
android/app/debug
android/app/profile
android/app/release
ios/Pods
ios/.symlinks
linux/flutter/ephemeral
macos/Flutter/ephemeral
windows/flutter/ephemeral

# Yerel / gereksiz
**/node_modules
coverage
migrate_working_dir
